[submodule "linux-xlnx"]
	path = linux-xlnx
	url = https://github.com/Xilinx/linux-xlnx.git
[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = https://github.com/Xilinx/u-boot-xlnx.git
[submodule "device-tree-xlnx"]
	path = device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx.git
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/Xilinx/arm-trusted-firmware.git
